@keyframes fadeInLeft {
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
@-webkit-keyframes fadeInLeft {
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideArrowHorizontal {
  from {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideArrowHorizontal {
  from {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes hue-rotate {
  to {
      filter: hue-rotate(90deg);
  }
}
@-webkit-keyframes hue-rotate {
  to {
      filter: hue-rotate(90deg);
  }
}

@keyframes gradient {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}