mixin experience-block(title,text)

        .experience-block
            .experience-block__title
                h4.experience-title= title
            .experience-block__text
                p.experience-text= text