mixin features-box(img,title)
    // features box
    .features-box
        .features-box__img 
            img(src=img, alt="")
        .features-box__content 
            h5= title

    // / features box