mixin reason-block(img,title,text)
    // reason-block
    .reason-block
        .reason-block__img 
            img(src=img)
        .reason-block__content
            h5.reason-block__title=title
            p.reason-block__text=text
    // / reason-block