mixin sertificate-block(img,text)

        .sertificate-block
            .sertificate-block__img
                img.img-sertificate(src=img)
            .sertificate-block__text
                p.texts18= text