mixin store-card(img,title,text)
    // store-card
    .store-card
        .store-card__img 
            img(src=img)
        .store-card__content
            h5.subtitle.subtitle--small=title
            p.custom-text=text
    // / store-card