mixin works-box(img, title, text)
    // works-box
    .works-box
        a(href="#")
            .works-box__img
                img(src = img)
            h6.works-box__title=title
            p.works-box__text=text
    // / works-box

