.rate-block{
  @include rem(padding,32px);
  @include rem(width,594px);
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(85, 105, 135, 0.1);
  border-radius: 6px;

  &__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include rem(padding-bottom,32px);
    border-bottom: 1px solid #EEF0F3;
  }

  .header-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;

    p{
      font-weight: 600;
    }

    .rate-grey {
      color: $text-grey;
      @include rem(font-size,14px);
      @include rem(line-height,24px);
      @include rem(padding-top,5px);
      font-weight: 500;

    }

    .rate-coast {
      @include rem(font-size,54px);
      @include rem(line-height,72px);
      font-weight: 600;
    }


    &:last-of-type{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__body{
    @include rem(padding-top,32px);
    @include rem(padding-bottom,32px);
    ul{
      display: flex;
      flex-direction: column;

      li{
        p{
          background-image: url("../images/icons/checkbox.svg");
          background-repeat: no-repeat;
          background-position: left center;
          @include rem(padding-left,32px);
          @include rem(background-size,20px);
          @include rem(margin-bottom,16px);
          @include rem(font-size,16px);
          @include rem(line-height,24px);
        }
      }
    }
  }

  &__footer{
    width: 100%;
    @include rem(padding-top,32px);
    border-top:1px solid #EEF0F3 ;
    button{
      width: 100%;
    }
  }
}