.home-slider{
    z-index: 1;

    &__overlay{
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.11) 62.5%);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 776px;
        height: 100vh;
    }

    &__content{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 776px;
        height: 100vh;
        padding-top: 130px;
    }

    .slider-arrow{
        top: 78%;
        width: 81px;

        &__left{
            right: 160px;
            left: auto;
        }
        
        &__right{
            right: 45px;
            left: auto;
        }
    }
}
.slider-item{
    min-height: 776px;
    height: 100vh;
    position: relative;
    color: #fff;

    &__title{
        line-height: 60px;
        font-weight: 600;
        margin-bottom: 45px;
        max-width: 860px;
        // opacity: 0;
        // transform: translateY(-9%);
        // animation: fadeInUp .7s ease-in-out forwards;
    }

    &__subtitle{
        line-height: 28px;
        margin-bottom: 60px;
        max-width: 340px;
    }
}
.slides-numbers{
    position: absolute;
    top: 26%;
    left: calc((100% - 1290px) / 2 + 15px );
    z-index: 99;
    color: rgba(#fff, .6);

    .active{
        color: #fff;
        font-weight: 700;
        margin-right: 20px;
    }

    .total{
        position: relative;

        &::before{
            content: '/';
            position: absolute;
            top: -2px;
            left: -12px;
            display: inline-block;
            width: 10px;
        }
    }
}

.akcii-slider{
    margin: 0 -15px;

    &__item{
        padding: 0 0 120px;
    }

    &__slide{
        max-width: 630px;
        position: relative;
        margin: 0 15px;

        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }

    &__img{
        overflow: hidden;
        max-width: 630px;

        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s;
        }
    }
    
    &__box{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -75px;
        max-width: 550px;
    //
    //    &::before{
    //        content: '';
    //        position: absolute;
    //        left: -25px;
    //        top: -25px;
    //        background: url('../images/akcii-circles.svg') center center / cover no-repeat;
    //        width: 214px;
    //        height: 137px;
    //    }
    //}

    &__content{
        position: relative;
        z-index: 3;
        background-color: #fff;
        padding: 30px 35px 20px;
        box-shadow: 0px 7px 33px -7px rgba(149, 149, 149, 0.28);

        
        h5{
            display: inline-block;
            line-height: 38px;
            font-weight: 700;
            position: relative;
            margin-bottom: 12px;

        //    &::after{
        //        content: '';
        //        position: absolute;
        //        right: -20px;
        //        top: 13px;
        //        background: url('../images/title-arrow.svg') center center / cover no-repeat;
        //        width: 7px;
        //        height: 11px;
        //    }
        //}

        p{
            color: #555555;
            max-width: 457px;
        }

    }
    
    .slider-arrow{
        top: -110px;
        width: 35px;
        transition: all .6s;
        

        &__left{
            right: 90px;
        }

        &__right{
            right: 25px;
            left: auto;
        }
    }
}

.reviews-slider{
    position: relative;

    &__item{
        padding: 0 0 50px;
    }

    .slick-list{
        z-index: 3;
    }

    .slider-arrow{
        width: 52px;
        height: 52px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 50px;

        &__left{
            transform: translateX(-52px);
        }
    }

    .slick-dots{
        bottom: 10px;
    }
}

.clients-slider{
    margin: 0 -15px;

    &__item{
        margin: 0 15px;
        text-align: center;

        img{
            display: block;
        }
    }

    .slick-dots{
        bottom: -40px;
    }

    .slider-arrow{
        top: -110px;
        width: 35px;
        transition: all .6s;
        

        &__left{
            right: 90px;
        }

        &__right{
            right: 25px;
            left: auto;
        }
    }
}

.slick-slide{
    outline: none;
}
.slick-disabled{
	filter: grayscale(1);
	opacity: .4;
}
.slider-arrow{
	position: absolute;
	z-index: 99;
	cursor: pointer;
	width: 80px;
	height: 80px;
	bottom: 0;
	transition: all .6s;

	&__right{
		left: 80px;
	}
}}}
//.slick-dots {
//	position: absolute;
//	display: flex;
//	align-items: center;
//	justify-content: center;
//	width: 100%;
//	padding: 0;
//	margin: 0;
//	list-style: none;
//	text-align: center;
//	bottom: -20px;
//	overflow: hidden;
//	z-index: 99;
//
//	& li.slick-active {
//		background: $primary;
//		box-sizing: content-box;
//		width: 42px;
//	}
//
//	li {
//		width: 12px;
//		height: 6px;
//		background: #C4C4C4;
//		box-sizing: border-box;
//		position: relative;
//		display: inline-block;
//		margin: 0 10px;
//		padding: 0;
//		cursor: pointer;
//		transition: all .5s;
//	}
//
//	li button{
//		line-height: 0;
//		display: block;
//		width: 20px;
//		height: 20px;
//		padding: 5px;
//		cursor: pointer;
//		color: transparent;
//		border: 0;
//		outline: none;
//		background: transparent;
//	}
//}}