.section-header{
	line-height: 44px;
	font-weight: 700;
	margin-bottom: 35px;

	span{
		color: $primary;
	}

	&--margin{
		margin-bottom: 75px;
	}

	&--width{
		max-width: 100% !important;
	}

	&--mid{
		font-weight: 600;
	}
}
.header-line{
	position: relative;
	margin-bottom: 60px;

	&::after{
		content: '';
		position: absolute;
		background-color: $primary;
		width: 80px;
		height: 2px;
		left: 0;
		margin: auto;
		bottom: -20px;
	}

	&--text-center{
		text-align: center;

		&::after{
			right: 0;
		}
	}
}

.subheader{
	line-height: 27px;
	text-align: center;
	max-width: 70%;
	margin: 0 auto;
	margin-bottom: 40px;
}