extends layout/base

block title
    title Проект 1

include mixins/works-box


block content

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li
                    a(href="index.html") Главная
                li
                    a(href="blog-page.html") Блог 
                li
                    span Тонкости SEO-продвижения сайтов
    section.block-single-section
        .container
            h1.page-title Тонкости SEO-продвижения сайтов
            .block-single-section__img 
                img.img(src="images/seo/seo-main.jpg")
    
    .container
        section.about-block-single
            p.text.text--big.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper mattis lorem non. Ultrices praesent amet ipsum justo massa. Eu dolor aliquet risus gravida nunc at feugiat consequat purus. Non massa enim vitae duis mattis. Vel in ultricies vel fringilla.
            .border-grey.border-grey--seo
            h2.section-title.section-title--small Header 1
            p.text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper mattis lorem non. Ultrices praesent amet ipsum justo massa. Eu dolor aliquet risus gravida nunc at feugiat consequat purus. Non massa enim vitae duis mattis. Vel in ultricies vel fringilla.
            .block-quotes 
                p.quotes-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper mattis lorem non. Ultrices praesent amet ipsum justo massa. Eu dolor aliquet risus gravida nunc at feugiat consequat purus. 
                span  — John Doe, CEO & Founder
            p.text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper mattis lorem non. Ultrices praesent amet ipsum justo massa. Eu dolor aliquet risus gravida nunc at feugiat consequat purus. Non massa enim vitae duis mattis. Vel in ultricies vel fringilla.
            .about-block-single__img
                img.img(src="images/seo/seo.jpg")
            span.img-desc Non massa enim vitae duis mattis. Vel in ultricies vel fringilla.
            h2.section-title.section-title--small Header 1
            p.text.text--margin.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper mattis lorem non. Ultrices praesent amet ipsum justo massa. Eu dolor aliquet risus gravida nunc at feugiat consequat purus. Non massa enim vitae duis mattis. Vel in ultricies vel fringilla.
            p.text.
                Sagittis et eu at elementum, quis in. Proin praesent volutpat egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac. Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur ac ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim massa erat cursus vulputate gravida id. Sed quis auctor vulputate hac elementum gravida cursus dis.
            ol.text-list
                li.text.text--list Lectus id duis vitae porttitor enim gravida morbi.
                li.text.text--list Eu turpis  posuere semper feugiat volutpat elit, ultrices suspendisse. Auctor vel in vitae placerat.
                li.text.text--list Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            p.text. 
                Vestibulum placerat magna nulla, sit amet venenatis sapien consequat ut. Cras pulvinar,
                lorem tristique pharetra finibus, dui erat finibus orci, a vehicula arcu sapien id metus.
                Quisque quis lorem a sem porttitor feugiat. Etiam quis congue est. Donec fermentum ac
                libero a pretium. Nulla nisl sem, euismod ut eros vitae, egestas scelerisque enim.
                #[a.green-link(href="#") Vivamus id pharetra massa.] Nulla aliquet erat elit, a gravida
                dui efficitur vel. Sed pulvinar diam sed neque ullamcorper semper. Nulla elementum arcu
                lacus, quis porta nisl posuere varius. Quisque tempus libero sed urna posuere hendrerit.
            .border-grey.border-grey--big
            ul.share-icons 
                li
                    a(href="#") 
                        img.img(src="images/seo/outline.svg")
                        span Скопировать ссылку
                        
                li 
                    a(href="#") 
                        img.img(src="images/seo/vk-single.svg")                    

            
                












            