extends layout/base

block title
    title Блог

include mixins/blog-box

block content

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li
                    a(href="index.html") Главная
                li
                    span Блог

    section.blog-page
        .container
            h1.page-title Блог
            .row
                +blog-box('images/blogs/1.png', 'Тонкости SEO-продвижения сайтов','При использовании современных «белых» методов оптимизации можно гарантировать своему сайту верхние строчки в результатах поисковой выдачи...')
                +blog-box('images/blogs/2.png', 'Будни разработчика: как правильно создавать сайты', 'Разработка, как и интернет-конъюнктура, не стоит на месте. Профессионал должен постоянно обновлять свой арсенал для того, чтобы быть в ногу со временем...')
                +blog-box('images/blogs/3.png', 'CRM: самые популярные системы','CRM востребованы у представителей бизнеса. Рассмотрим популярные системы контроля за работой сайтов...')
                +blog-box('images/blogs/1.png', 'Тонкости SEO-продвижения сайтов','При использовании современных «белых» методов оптимизации можно гарантировать своему сайту верхние строчки в результатах поисковой выдачи...')
                +blog-box('images/blogs/2.png', 'Будни разработчика: как правильно создавать сайты', 'Разработка, как и интернет-конъюнктура, не стоит на месте. Профессионал должен постоянно обновлять свой арсенал для того, чтобы быть в ногу со временем...')
                +blog-box('images/blogs/3.png', 'CRM: самые популярные системы','CRM востребованы у представителей бизнеса. Рассмотрим популярные системы контроля за работой сайтов...')
                +blog-box('images/blogs/1.png', 'Тонкости SEO-продвижения сайтов','При использовании современных «белых» методов оптимизации можно гарантировать своему сайту верхние строчки в результатах поисковой выдачи...')
                +blog-box('images/blogs/2.png', 'Будни разработчика: как правильно создавать сайты', 'Разработка, как и интернет-конъюнктура, не стоит на месте. Профессионал должен постоянно обновлять свой арсенал для того, чтобы быть в ногу со временем...')
                +blog-box('images/blogs/3.png', 'CRM: самые популярные системы','CRM востребованы у представителей бизнеса. Рассмотрим популярные системы контроля за работой сайтов...')
            nav.pagination(role="navigation")
                .nav-links
                    a.prev.page-numbers(aria-current="page")
                    a.page-numbers(href="#") 1
                    a.page-numbers.current(href="#") 2
                    a.page-numbers(href="#") 3
                    a.next.page-numbers(href="#")
