extends layout/base

block title
    title Контекстная реклама

include mixins/form-base
include mixins/rate-block
include mixins/oportunitie-box
include mixins/description-card
include mixins/faq-block
include mixins/first-section


block content

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li
                    a(href="index.html") Главная
                li
                    span Контекстная реклама

    +first-section('Настройка и ведение контекстной рекламы в Набережных Челнах', 'Выжимаем максимум из Яндекс Директ и Google Ads по KPI', 'Оставьте свой номер телефона – мы организуем для вас лучшую рекламную кампанию', 'images/about-img-1.png', true  )

    section.service-coast-section
        .container
            h2.section-title Стоимость нашего обслуживания
            .service-coast-section__card               
                +rate-block('Базовый тариф','10 000 ₽','Роботизированная система управления ставками 24/7 - Яндекс','Разделение рекламных кампаний по типу запросов («холодные», «теплые», «горячие»)','Группировка низкочастотных ключевых запросов во избежание статуса «Мало показов»','Создание рекламной кампании в РСЯ/КМС','Устранение пересечения ключевых запросов - Яндекс','Настройка расширений объявлений: дополнительные ссылки - Google','2-7 дней разработки')
                +rate-block('Оптимальный тариф','15 000 ₽','Роботизированная система управления ставками 24/7 - Яндекс','Разделение рекламных кампаний по типу запросов («холодные», «теплые», «горячие»)','Группировка низкочастотных ключевых запросов во избежание статуса «Мало показов»','Создание рекламной кампании в РСЯ/КМС','Устранение пересечения ключевых запросов - Яндекс','Настройка расширений объявлений: дополнительные ссылки - Google','2-7 дней разработки')

    section.oportunity-section
        .container
            .oportunity-section__column
                .about-main-section__title
                    h2.section-title Контекстная реклама ПроффИТ – это ваша возможность получить:
                .about-main-section__body
                    +oportunity-box('1','Заинтересованную аудиторию','Рекламные кампании будут привлекать потребителей, которые изначально желают купить вашу продукцию')
                    +oportunity-box('2','Фиксированную стоимость услуг','Перед сотрудничеством проводится расчет цены всех планируемых работ')
                    +oportunity-box('3','Полный контроль за рекламой','Круглосуточный доступ и профессиональное использование таких инструментов, как Яндекс Метрика и Google Analytics')
                    +oportunity-box('4','Рост прибыли','Выдаем реальный результат в виде увеличения ваших продаж в результате нашей контекстной рекламы')

            .oportunity-section__column
                img.column-img(src='images/section-images/girl.png')

    section.form-section
        .container
            .form-section__title
                h2.section-title--white Воспользуйтесь проверенным инструментом по увеличению продаж
                .form-text Оставьте контактные данные – наши менеджеры свяжутся с вами для бесплатной консультации
            .form-section__body
                form.js-ajax-form
                    .form-control
                        .form-text Ваш имя
                        input.modal-input(type="text", name="name", placeholder="Ваше имя" required)
                    .form-control
                        .form-text Ваш номер телефона
                        input.modal-input(type="tel", name="phone", placeholder="Ваш телефон" required)
                    .button-block
                        button.btn.btn--modal.btn--fullwidth(type="submit") Отправить
            .form-section__footer
                .footer-text Нажимая на кнопку, вы принимаете политику конфиденциальности и даете согласие на обработку персональных данных

    section.advertising-description
        .container
            .advertising-description-top
                .advertising-description-top__column
                    h2.section-title Как работает контекстная реклама?
                    p.text Охватите вторую по популярности поисковую систему рунета. Наши специалисты выжмут максимум из возможностей Google Ads.
                    p.text.text--bold Что дает контексная реклама в Google:
                    ul.desc-list 
                        li.list акцент на молодой аудитории;
                        li.list охват трафика с мобильных устройств;
                        li.list гибкие настройки рекламной кампании.                          
                .advertising-description-top__video
                    img.img(src="images/section-images/video.jpg", alt="")
                    a(data-fancybox="" href="https://www.youtube.com/watch?v=zDAx0KKwaLk&amp;autoplay=1&amp;rel=0") 
                        .play-btn
                            img(src="images/play-btn.svg" alt="")
                    //- img.column-img(src='images/section-images/video.jpg')
            p.text В создании рекламной кампании для вашего бизнеса мы используем весь функционал мирового сервиса, включая Google Adwords, Google Merchant, динамические объявления и другие компоненты. Доверьтесь сертифицированным специалистам ПроффИТ – мы знаем, как организовать действительно эффективную контекстную рекламу.

    section.advertising-section
        .container
            h2.section-title Как мы создаем лучшую контекстную рекламу?
            p.text.text--bottom Только последовательная и всесторонняя работа по разработке рекламной кампании для вашего бизнеса.
            .row
                +description-card('images/icons/1.svg', 'Аудит сайта' ,'Детальный анализ вашего ресурса с точки зрения контекстного продвижения', true)
                +description-card('images/icons/2.svg', 'Определение цели и KPI' ,'Подбор необходимых инструментов для ведения контекстной рекламы', true)
                +description-card('images/icons/3.svg', 'Настройка Яндекс Директ и Google Adwords' ,'Подбор ключевых слов, создание объявлений и разработка выгодных предложений для клиентов.', true)
            .row
                +description-card('images/icons/4.svg', 'Запуск рекламной кампании' ,'Анализ трафика, тестирование и работа с аудиторией', true)
                +description-card('images/icons/5.svg', 'Модерация' ,'Контроль за рекламными объявлениями и внесение корректировок в ходе кампании', true)
                +description-card('images/icons/6.svg', 'Подведение итогов' ,'Формирование ежемесячных отчетов с подробными рекомендациями.', true)
    section.faq-section
        .container
            .row
                .faq-section__column
                    h2.section-title Ответы на популярные вопросы
                    p.subtitle. 
                        Мы подготовили ответы на наиболее волнующие вас вопросы,
                        чтобы сотрудничество изначально было более гладким и ясным.
                .faq-section__column
                    +faq-block('Сколько ключевых слов будет в моей рекламной кампании?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Какие гарантии даете на контекстную рекламу?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Почему ваши услуги стоят так дорого?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Вы предоставляете отчет о проделанной работе по контекстной рекламе?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Вы только настраиваете рекламную кампанию?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Что меняется из месяца в месяц по рекламной кампании, за что мы ежемесячно платим деньги?','Вы работаете по системе «оплата за лиды»?')
                    +faq-block('Вы работаете по системе «оплата за лиды»?','Вы работаете по системе «оплата за лиды»?')
                    +faq-block('Конкуренты будут «скликивать» мой бюджет?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Как вы формируете прогноз рекламной кампании?','Сколько специалистов работают в отделе разработке и продвижения?')
                    +faq-block('Можно у вас настроить рекламную кампанию, а вести ее мы будем самостоятельно?','Сколько специалистов работают в отделе разработке и продвижения?')
                








