extends layout/base

block title
    title Проект 1

include mixins/works-box


block content

    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li
                    a(href="index.html") Главная
                li
                    a(href="index.html") Создание сайтов 
                li
                    span Проект 1

    section.project-section
        .container
            h4.section-subtitle Web дизайн и разработка
            h1.page-title Проект 1
            p.subtitle. 
                Стремящиеся вытеснить традиционное производство, нанотехнологии являются только
                методом политического участия и ассоциативно распределены по отраслям. Задача
                организации, в особенности же сплочённость команды профессионалов создаёт
                предпосылки для прогресса профессионального сообщества.
            .project-section__img
                img.img(src="images/project/project-main.jpg")
            .project-info
                .project-info__item
                    span.project-info__name Клиент
                    h3.project-info__value facebook.com
                .project-info__item
                    span.project-info__name Услуги
                    h3.project-info__value Product Design
                .project-info__item
                    span.project-info__name Результат работы
                    h3.project-info__value UI Screens, UX Flow & Prototype
            .border-grey
    
    section.about-project
        .container
            .row
                h2.section-title.section-title--medium О проекте
                p.
                    Предварительные выводы неутешительны: реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации приоритизации разума над эмоциями. В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть объединены в целые кластеры себе подобных. Следует отметить, что укрепление и развитие внутренней структуры создаёт предпосылки,
                ul.list
                    li Окрестности Тулы оросил трубный призыв!                 
                    li Курс на социально-ориентированный национальный проект не стал ограничивающим фактором
                    li Воистину радостный звук: полуночный пёсий вой
                    li В провинции никого не пугает старческий скрип Амстердама
                .about-project__img 
                    img.img(src="images/project/teamwork.jpg")
                h2.section-title.section-title--medium Что мы сделали
                p.
                    Предварительные выводы неутешительны: реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации приоритизации разума над эмоциями. В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть объединены в целые кластеры себе подобных. Следует отметить, что укрепление и развитие внутренней структуры создаёт предпосылки,
                ul.list
                    li Окрестности Тулы оросил трубный призыв!                 
                    li Курс на социально-ориентированный национальный проект не стал ограничивающим фактором
                    li Воистину радостный звук: полуночный пёсий вой
                    li В провинции никого не пугает старческий скрип Амстердама
            .kew-words
                h3.kew-words__title Ключевые слова
                ul.kew-words__list
                    li
                        a(href="#") Дизайн
                    li
                        a(href="#") UI/UX 
                    li
                        a(href="#") Корпоративный сайт
                    li
                        a(href="#") Разработка
                    li
                        a(href="#") Wordpress

            

            