doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        block title

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
        link(rel="shortcut icon" href="favicon.ico")
        link(rel="stylesheet" href="css/style.min.css")

    body
        .wrapper 
            include header

            // content
            .content 
                block content

            // / content

            include footer

            include modal

            #upbutton

        script(src="js/main.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js")
        block scripts