// footer
footer.footer 
    .container 
        .row
            .footer-column
                a(href="index.html")
                    img.logo-img(src="images/icons/logo.svg")
                a.btn.btn--small(href="#") Заказать звонок
                a.phone-link(href="#") +7 (927) #[b 499-78-68]
                a.mail-link(href="mailto:info@proffit-site.ru") info@proffit-site.ru
            .footer-column.footer-column--flex
                ul.footer__menu
                    li
                        a(href="#") Продвижение сайтов (SEO)
                    li
                        a(href="#") Создание сайтов
                    li
                        a(href="#") Контекстная реклама
                ul.footer__menu
                    li
                        a(href="#") Блок
                    li
                        a(href="#") Кейсы
                    li
                        a(href="#") О нас
                ul.footer__menu
                    li
                        a(href="#") Акции
                    li
                        a(href="#") Контакты
            .footer-column
                ul.social
                    li
                        a(href="#")
                            img(src="images/contact-icons/whatsapp.svg")
                    li
                        a(href="#")
                            img(src="images/contact-icons/telegram.svg")
                    li
                        a(href="#")
                            img(src="images/contact-icons/vk.svg")
                a(href="#") Карта сайта
                a(href="#") Политика конфиденциальности
// / footer