// header
header#header
    .header-top
        .container
            a(href="index.html")
                img.logo-img(src="images/icons/logo.svg" alt="" class="img")

            .info-block
                img(src="images/icons/map-icon.svg", alt="")
                a(href="#") Набережные челны

            .contact-links
                a.phone-link(href="#") +7 (927) #[b 499-78-68]
                a(href="#")
                    img.telegram-icon(src="images/icons/telegram-icon.svg")
                a(href="#")
                    img.whatsap-icon(src="images/icons/whastapp-icon.svg")

            .header-btns
                a.btn(href="#") Заказать звонок
                a.btn.btn--white(href="#") Заполнить бриф
            .nav_toggle#nav-icon
                span
                span
                span
    .header-bottom
        .container
            .header-bottom__inner
                nav
                    ul.menu
                        li
                            a(href="#") Продвижение сайтов (SEO)
                        li.dropdown
                            a(href="#") Создание сайтов
                            .menu-depth-1
                                ul 
                                    li
                                        a(href="#") Landing Page
                                    li
                                        a(href="#") Корпоративные сайты 
                                    li
                                        a(href="#") Интернет-магазины
                        li
                            a(href="contextual-advertising.html") Контекстная реклама
                        li
                            a(href="blog.html") Блог
                        li
                            a(href="cases.html") Кейсы
                        li
                            a(href="about.html") О нас
                        li
                            a(href="sales.html") Акции
                        li
                            a(href="contacts.html") Контакты

.mobile_menu
    .btn-group
        a.btn.btn--modal Заказать звонок
        a.btn.btn--modal.btn--white Заполнить бриф
    ul.mobile-menu
        li
            a(href="#") Продвижение сайтов (SEO)
        li.dropdown
            a(href="#") Создание сайтов
            .menu-depth-1
                ul 
                    li
                        a(href="#") Landing Page
                    li
                        a(href="#") Корпоративные сайты 
                    li
                        a(href="#") Интернет-магазины
        li
            a(href="#") Контекстная реклама
        li
            a(href="blog.html") Блог
        li
            a(href="cases.html") Кейсы
        li
            a(href="about.html") О нас
        li
            a(href="sales.html") Акции
        li
            a(href="contacts.html") Контакты

    .contact-links
        a(href="#") +7 (927) #[b 499-78-68]
        a(href="#")
            img.telegram-icon(src="images/icons/telegram.png")
        a(href="#")
            img.whatsap-icon(src="images/icons/whatsap.png")

    a.mail-link(href="mailto:info@proffit-site.ru") info@proffit-site.ru



















// / header